<h1 class='center'> <%= @artist.name %> </h1>

<h3 class='center'><%= @artist.genre %> <%= @artist.rating %></h3>

<h4 class='center'><%= link_to 'Add a Song', artist_songs_path(@board, @artist) %></h4>
