<h1><%= @artist.name %> Songs</h1>
<%= link_to 'Add a Song', new_artist_song_path(@song) %>
<ul>
  <% @songs.each do |song| %>
    <li>
      <%= link_to song.name, [@artist, song] %>
    </li>
    <% end %>
</ul>
